<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .error-message {
            color: red;
            font-size: 12px;
            display: none;
        }

        .container {
            background-color: white;
            padding: 20px;
            box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2);
            width: 500px;
        }

        .custom-form {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
        }

        .form-group label {
            color: #030303;
        }

        .form-control {
            background-color: white;
        }

        .form-control:focus {
            background-color: white;
            border: 1px solid #007bff;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" action="/set-password" id="setPasswordForm">
                    <h4>Conform Registration</h4>
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName">
                    </div>
                    <p id="fullNameError" class="error-message"></p>

                    <div class="form-group">
                        <label for="userPhone">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <p id="phoneNumberError" class="error-message"></p>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <p id="newPasswordError" class="error-message"></p>
                    <div class="form-group">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
                        {{#if notmatch}}
                        <p>Wrong Password, Enter currect Password!</p>
                        {{/if}}
                    </div>
                    <p id="confirmNewPasswordError" class="error-message"></p>
                    <button type="submit" class="btn btn-primary">Set Password</button>

                </form>
            </div>
        </div>
    </div>

  

<script src="/public/assets/js/user.js"></script>

</body>

</html>